<!DOCTYPE html>
<html>
  <body>
    
<!----------------------- NAV BAR ------------------------>
    <div class="header" id="gallery_nav_bar">
      <div class="row">
      <nav>
        
	<!-- BACK TO BROWSE/LOGO -->
       <div class="col-md-1" id="logo">
      		<%= link_to (image_tag asset_path "art_show_50.png"), root_path %> 
       </div>

   <!-- USERNAME/GALLERY TITLE-->
    <div class="nav-item main col-md-4 .col-xs-4" id="username_gallery">
        <%= @user.username %>
    </div>

	<!-- SEARCH GALLERY-->
       <div class="nav-item col-md-3" id="search_gallery">
            
                <%= form_tag root_path, :method => 'get' do %>
                  <p>
                    <%= search_field_tag 'pieces_search_box', params[:q], :placeholder =>"Search..."%>
                    <%= submit_tag "", :title => nil, :id => "pieces_search_button" %>
                  </p>
         </div>


    <!-- ACCOUNT SETTINGS / SIGN IN / SIGN UP / SIGN OUT -->    
          <% if user_signed_in? && (current_user.id == @user.id) %>
          	<div class="col-md-1">
	          <div class="nav-item" id="upload_art"><%= link_to "Upload", "/pieces/new", method: :get%>
	          </div>
	        </div>
          	<div class="col-md-1 .col-xs-1">
            	<div class="nav-item" id="account_link_gallery"><a href="#myModal" data-toggle="modal">Account</a>
            	</div>
          	</div>
          	<div class="col-md-1">
	          	<div class="nav-item"  ><%= link_to "SignOut", destroy_user_session_path, method: :delete%>
	           	</div>
	        </div>
	      <% else %>
	        <div class="col-md-1">
	         	<div class="nav-item" id="sign_in_gallery"><a href="#sign_in" data-toggle="modal">Sign in</a></div>
	        </div>
	        <div class="col-md-1">
	          	<div class="nav-item" id="sign_up_gallery"><a href="#sign_up" data-toggle="modal">Sign up</a></div>
	      	</div>
	      <%end%>
	          


      </nav>
  	</div>
   </div>
  <br><br><br> 
<!-------------------- END OF NAV BAR ------------------->


<!-- GALLERY VALUE -->
  <p class="user_profile" id="gallery_value">
	<% if user_signed_in? && current_user.id == @user.id %>


  		The total value of your gallery is $<%= current_user.gallery_value %>.
	<%end%>
  	
  		<%= @user.bio %>
  	<% end %>
  </p>


<!------------------ BROWSE GALLERY -------------------->
    <br><br><br><br><br><br> 
    <div class="browse_content" id="browse_gallery">
	        <h4 class="gallery_label">Your Works</h4>
	        <hr>

	        <div id="masonry-container" class="infinite-scroll centered fluid  clearfix">    
              <% @pieces.each do |piece|  %>
  	            <figure class="box col3">
                   <%= link_to (image_tag asset_path piece.avatar), "/pieces/#{piece.id}" %>
      	              <figcaption class="figcaption">
      	                <p class = "art_title"><%= piece.title %></p>
      	                <p class = "artist_name"><%= piece.artist_name %></p>
      	                <p>$<%= piece.original_value %></p>
      	              </figcaption>
  	            </figure>
  	          <% end %> 
	        </div>
<<!-- h4 class="gallery_label">Prints</h4>
	        <hr>

	        <div id="masonry-container" class="infinite-scroll centered fluid  clearfix">
           <% @prints.each do |print| %>
            <% piece = print.piece %>
             <figure class="box col3">
               <%= link_to (image_tag asset_path piece.image_url), piece %>
               <figcaption>
                 <p class = "art_title"><%= piece.title %></p>
                 <p class = "artist_name"><%= piece.artist.username%></p>
                 <p>$<%= piece.print_value/100 %></p>
               </figcaption>
             </figure>
           <% end %>  
         </div> -->
	</div>


<!------------------ MODAL SIGN IN -------------------->
  <div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModal">Sign in</h4>
        </div>
        <div class="modal-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %></div>

            <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <div><%= f.submit "Sign in" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



<!------------------ MODAL SIGN UP -------------------->
  <div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModal">Sign up</h4>
        </div>
        <div class="modal-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :username %><br />
            <%= f.text_field :username %></div>

            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %></div>

            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
          <!-- 
            <div><%= f.label :type %><br />
            <%= f.select :type, ['Artist' , 'Patron'], autofocus: true %></div> -->

            <div><%= f.label :'Tell us about yourself:' %><br />
            <%= f.text_area :bio, autofocus: true %></div>

            <div><%= f.label :'address (for shipping purposes)' %><br />
            <%= f.text_area :address, autofocus: true %></div>
        </div>
        <div class="modal-footer">
          <div><%= f.submit "Sign up" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
		
	

<!------------------ MODAL ACCOUNT SETTINGS ---------------->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModal">Edit or Delete Account</h4>
		      </div>
		      <div class="modal-body">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				  <%= devise_error_messages! %>
				  <div><%= f.label :email %><br />
				  <%= f.email_field :email, autofocus: true %></div>
				  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				  <% end %>
				  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
				    <%= f.password_field :password, autocomplete: "off" %></div>
				  <div><%= f.label :password_confirmation %><br />
				    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
				  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
				    <%= f.password_field :current_password, autocomplete: "off" %></div>
				<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
		      </div>
		      <div class="modal-footer">
		      	<div><%= f.submit "Update" %></div>
						<% end %>
		      </div>
		    </div>
		  </div>
		</div>

	</body>
</html>