<h1> Hello Simba! </h1>

<% if current_user %>
  <p>You're signed in as <%= current_user.username %>.</p>
  <p><%= link_to "Profile", "/users/#{current_user.id}" %></p>
  <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'Create Account', users_new_path %><p>
  
  <h2>Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>



