<!DOCTYPE html>
<html>
  <body>
    <div class="header">
      <nav>
        <div class="nav-item main">
          Simba lots of stuff!
        </div>
        <% if current_user %>
          <div class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </div>
          <div class="nav-item">
            <%= link_to current_user.username, "/users/#{current_user.id}" %>
          </div>
        <% else %>
          <div class="nav-item">
            <a href="#sign_in">Sign in</a>
          </div>
          <div class="nav-item">
            <a href="/">Sign up</a>
          </div>
        <% end %>
        <div class="nav-item">
          <a href="/">Price</a>
        </div>
        <div class="nav-item">
          <a href="/">Genre</a>
        </div>
        <div class="nav-item">
          <a href="/">Search</a>
        </div>
      </nav>
    </div>
  <img src="assets/test.png" alt="test">
  <br><br><br>  
  <div class="browse_content">
    <p>Welcome to Simba. The majority of current art websites are difficult to use and directed at very specific audiences. We hope to unify professional and casual art enthusiasts on one credible site that makes it enjoyable to both buy and just browse art.

    Cupcake ipsum dolor sit amet cupcake. Carrot cake bonbon chocolate cake sugar plum brownie. Gingerbread cookie tootsie roll jujubes cotton candy jujubes. Dessert sugar plum jelly-o. Pudding biscuit jelly-o cookie halvah apple pie cake brownie cheesecake. Cotton candy jujubes jelly caramels pie cheesecake caramels marshmallow. Sweet cake donut chupa chups. Candy canes cheesecake gummi bears lemon drops pastry gummies. Croissant cheesecake donut caramels brownie gingerbread tiramisu. Candy donut cake cheesecake caramels apple pie. Sweet bear claw liquorice sweet cake pie. Oat cake soufflé marzipan.
    
    Tiramisu sweet roll soufflé powder cheesecake fruitcake. Unerdwear.com biscuit brownie. Jelly pastry pudding dessert dessert caramels. Chupa chups tiramisu liquorice bonbon croissant. Soufflé ice cream cupcake. Lemon drops cake muffin. Topping cheesecake donut icing. Icing bear claw chupa chups macaroon. Oat cake donut liquorice. Applicake cake caramels marshmallow oat cake danish. Gingerbread chupa chups ice cream icing cheesecake. Sweet roll danish cookie.</p>

    <p>Are you an artist? Upload your art <%= link_to "here", "/pieces/new" %>.</p>
  </div>  
  <div class="footer">
    <div>Copyright © Simba</div>
  </div>

    
  </body>
  
</html>


<div id="sign_in" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

      <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end %>

      <div><%= f.submit "Sign in" %></div>
    <% end %> 
  </div>
<div>







