<!DOCTYPE html>
<html>
  <body>
    

<!--------------------------------------THE NAV BAR-------------------------------------->
<div class="header container-fluid">
  <div class="row">
      <nav>
          
  <!-- NAME / LOGO -->
        <div class="col-md-1" id="logo">
      <%= link_to (image_tag asset_path "art_show_50.png"), root_path %> 
        </div>

        <div class="nav-item main col-md-3" id="logo_text">
          <%= link_to "Artshow", root_path %>
        </div>



  <!--  SEARCH BAR -->
          <div class="nav-bar">
              <div class="nav-item col-md-3" id="search_bar_div">
                
                    <%= form_tag root_path, :method => 'get', id: 'pieces_search' do %>
                      <p>
                        <%= search_field_tag 'pieces_search_box', params[:pieces_search_box], :placeholder =>"Search..."%>
                        <%= submit_tag "", :title => nil, :id => "pieces_search_button" %>
                      </p>
                    <%end%>

              </div>
          </div>      


  <!-- PRICE / GENRE  -->  
          <div>
              <div class="nav-item col-md-1" id="price_filter"><a href="/">Price</a>
              </div>
              <div class="nav-item col-md-1" id="genre_filter"><a href="/">Genre</a>
              </div>
          </div>


  <!-- SIGN IN / SIGN UP / USERNAME / LOGOUT -->
        <div>
          <% if current_user %>
            <div class="nav-item col-md-1 right" id="sign_out_link"><%= link_to "Sign out", destroy_user_session_path, method: :delete%></div>
            <div class="nav-item col-md-1 right" id="username_link"><%= link_to current_user.username, "/users/#{current_user.id}"%></div>
          <% else %>
            <div class="nav-item col-md-1 right" id="sign_in_link" ><a href="#sign_in" data-toggle="modal">Sign in</a></div>
            <div class="nav-item col-md-1 right" id="sign_up_link"><a href="#sign_up" data-toggle="modal">Sign up</a></div>
            <% end %>
        </div>
      </nav>
    </div>
  </div>

  <br><br><br><br>
<!------------------------------------------------------------------------------------------------->


<!-- THE FIRST VIEW -->
    <div id="first_view">
        <div id="gold_frame">
          <br>
            <%= image_tag asset_path "gold_frame5.png", class:"show_image"%>
        </div>
    </div>




 <!-- SCROLL DOWN LINK -->
 <div id="scroll_down_link_container">
    <a href="#browse-content" id="scroll_down_link">Browse Art
      <%= image_tag asset_path "down_arrow.png", id:"down_arrow"%> 
    </a>
 </div>



 <!-- BROWSING -->
  <div class="browse_content" id="browse-content">
        <br><br><br>
        <div id="masonry-container" class=" infinite-scroll centered fluid  clearfix">
          <% @pieces.each do |i| %>
            <figure class="box col3">
              <%= link_to (image_tag asset_path i.image_url), "pieces/#{i.id}" %>
              <%= link_to (image_tag asset_path i.avatar), "/pieces/#{i.id}" %>
              <figcaption class="figcaption">
                <p class = "art_title"><%= i.title %></p>
                <p class = "artist_name">by <%= i.artist_name %></p>
                <p>$<%= i.original_value/100 %></p>
              </figcaption>
            </figure>
          <% end %>  
        </div>

  </div>


<!-- MODAL SIGN IN -->
  <div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModal">Sign in</h4>
        </div>
        <div class="modal-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %></div>

            <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            <% end %>
        </div>
        <div class="modal-footer">
          <div><%= f.submit "Sign in" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



<!-- MODAL SIGN UP -->
  <div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModal">Sign up</h4>
        </div>
        <div class="modal-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :username %><br />
            <%= f.text_field :username %></div>

            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %></div>

            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
          



<!-- COMMENTED OUT THE BIO AND ADDRESS FIELDS. MOVE TO GALLERY UPDATE. -->
          <!-- 
            <div><%= f.label :type %><br />
            <%= f.select :type, ['Artist' , 'Patron'], autofocus: true %></div> -->

            <!-- <div><%= f.label :'Tell us about yourself:' %><br />
            <%= f.text_area :bio, autofocus: true %></div> -->

            <!-- <div><%= f.label :'address (for shipping purposes)' %><br />
            <%= f.text_area :address, autofocus: true %></div> -->




        </div>
        <div class="modal-footer">
          <div><%= f.submit "Sign up" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>
