<div class="new_form_header">
     <h1>Upload a new piece or <br><%= link_to 'go back to your gallery', "/users/#{current_user.id}" %></h1>
</div>

<div class="jumbotron">

   <%= form_for @new_piece, url: '/pieces/create', html: { :multipart => true }, method: 'post' do |f| %>
     <div id="upload_box">
     <%= f.file_field :avatar %>
     </div>
     <br>
     <br>
     <div>
     <%= f.label "Title of your piece:" %><br>
     <%= f.text_field :title %>
     </div>
     <br>
     <div>
     <%= f.label "Genre:" %><br>
     <%= f.text_field :genre %>
     </div>
     <br>
     <div>
     <%= f.label "Tell us about your piece:" %><br>
     <%= f.text_area :art_description %>
     </div>
     <br>
     <div>
     <%= f.label "Asking price:" %><br>
     <%= f.number_field :original_value %>
     </div>
     <br>
     <%= f.submit "Upload!" %>

</div>

   <% end %>

