<br>
<div class="row" style="margin-top: -40px;">
		<div class="art_info gray">

			<p><span>Title:</span> <%= @piece.title %></p>
			<p><span>Artist:</span> <%= @piece.artist_id %></p>
			<p><span>Genre:</span> <%= @piece.genre %></p>
			<p><span>Description:</span> <%= @piece.art_description %></p>
			<p><span>Prints:</span> <%= @piece.number_prints %></p>
			<p><span>Owner:</span> <%= @piece.art_owner_id %></p>
			<p><span>Asking Price:</span> <%= @piece.original_value %></p>
			<br><br>

		    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
			<form action="/purchases" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_S3JqCMGRfDD5S46sEYXsqKKZ"
			    data-image="/square-image.png"
			    data-name="Simba"
			    data-description="2 widgets ($20.00)"
			    data-amount=<%= @piece.original_value.to_i %>>
			  </script>
			  <input type="hidden" name="piece_id" value=<%= @piece.id %>>
			</form>
		</div>		

		<%= image_tag asset_path @piece.image_url %>

</div>