<br>
<div class="row" style="margin-top: -40px;">
	<div class="col-md-3">
		<p>Title: <%= @piece.title %></p>
		<p>Artist: <%= @piece.artist_id %></p>
		<p>Genre: <%= @piece.genre %></p>
		<p>Description: <%= @piece.art_description %></p>
		<p>Prints: <%= @piece.number_prints %></p>
		<p>Owner: <%= @piece.art_owner_id %></p>
		<p>Asking Price: <%= @piece.original_value %></p><br><br>
		<p>
			
	    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
		<form action="/purchases" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_S3JqCMGRfDD5S46sEYXsqKKZ"
		    data-image="/square-image.png"
		    data-name="Simba"
		    data-description="2 widgets ($20.00)"
		    data-amount=<%= @piece.original_value.to_i %>>
		  </script>
		  <input type="hidden" name="piece_id" value=<%= @piece.id %>>
		</form>
			
		</p>
	</div>
	<div class="col-md-9">
		<%= image_tag asset_path @piece.image_url %>
	</div>
</div>