<div class="header">
      <nav>
         <div class="col-md-1" id="logo">
      		<%= link_to (image_tag asset_path "art_show_50.png"), root_path %> 
        </div>
        <div class="nav-item main col-md-4 .col-xs-4">
	        <p id="piece_viewer_title">Viewer</p>
        </div>
        <div class="col-md-4 .col-xs-4  nav-bar" style="float:right">
          <% if user_signed_in? && (current_user.id == @user.id) %>
            <div class="nav-item right"><%= link_to "Sign out", destroy_user_session_path, method: :delete%></div>
            <div class="nav-item right" style="float:right"><a href="#myModal" data-toggle="modal">Account</a></div>
          <% else %>
            <div class="nav-item right"><a href="#sign_in" data-toggle="modal">Sign in</a></div>
            <div class="nav-item right"><a href="#sign_up" data-toggle="modal">Sign up</a></div>
          <% end %>
        </div>
      </nav>
    </div>	
<br><br>

<div class="row" style="margin-top: 80px; margin-left: 23px;">
		<div class="col-md-2 col-xs-4">
		<p><span style="color:black; line-height:1.3;">Title:</span> <%= @piece.title %></p>
		<p><span style="color:black">Artist:</span> <%= @piece.artist_id%></p>
		<p><span style="color:black">Genre:</span> <%= @piece.genre %></p>
		<p style="line-height:1.3;"><span style="color:black; line-height:1.7;">Description:<br></span> <%= @piece.art_description %></p>
		<p><span style="color:black">Prints Sold:</span> <%= @piece.number_prints %></p>
		<p><span style="color:black">Owner:</span> <%= @piece.art_owner_id %></p>
		<p><span style="color:black">Original:</span> $<%= @piece.original_value%></p>
		<p><span style="color:black">Print:</span> $<%= @piece.print_value/100%></p>
		<br><br>

	    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
		<form action="/purchases" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_S3JqCMGRfDD5S46sEYXsqKKZ"
		    data-image= url("/assets/art_show50.png")
		    data-name="Simba"
		    data-description="2 widgets ($20.00)"
		    data-amount=<%= @piece.print_value%>>
		  </script>
		  <input type="hidden" name="piece_id" value=<%= @piece.id %>>
		</form>
		</div>		


		<div class="col-md-10 col-xs-8">
			<%= image_tag asset_path @piece.image_url %>
			<%= image_tag asset_path @piece.avatar %>
		</div>
	</div>
