<div class="show_header">
	<h4>Welcome to Viewer!</h4>
</div>
<br><br>
<div class="row">
	<div class="col-md-3">
			<p>Title: <%= @image.title %></p>
			<p>Artist: <%= @image.artist_id %></p>
			<p>Genre: <%= @image.genre %></p>
			<p>Description: <%= @image.art_description %></p>
			<p>Prints: <%= @image.number_prints %></p>
			<p>Owner: <%= @image.art_owner_id %></p>
			<p>Asking Price: <%= @image.original_value %></p><br><br>
			<h2>Buy!</h2>

	</div>
	<div class="col-md-9">
		
			<%= image_tag asset_path @image.image_url %>

	</div>
</div>


